.login-card-container {
  padding-top: 5%;
}

.login-container-card {
  max-width: 400px;
  margin: auto;
}

.login-header-image {
  background-image: url('../../../assets/img/lego-logo-avatar.png');
  background-size: cover;
}

.fields-container {
  display: flex;
  flex-direction: column;
}

.fields-container > * {
  width: 100%;
}
