<div style="text-align:center" class="login-card-container">
  <form class="form-signin" method="POST" action="#" role="form">
    <mat-card class="login-container-card">
      <div class="fields-container">
        <div class="form-group">
          <h2>Set new password</h2>
        </div>
        <div *ngIf="errorMessage!=null" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <mat-form-field>
          <input matInput required
            id="signupEmail" 
            type="email" 
            maxlength="50" 
            placeholder="Username / Email"
            [(ngModel)]="registrationUser.username" 
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
          <input matInput required
            id="existingPassword" 
            type="password" 
            maxlength="25"
            placeholder="Temporary Password" 
            length="40" 
            [(ngModel)]="registrationUser.existingPassword"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
          <input matInput required
            id="signupPassword" 
            type="password" 
            maxlength="25" 
            placeholder="New Password" 
            length="40" 
            [(ngModel)]="registrationUser.password"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div class="login-buttons-container">
          <button mat-button (click)="onRegister()" id="signupSubmit" type="submit" class="back-primary">
            Set your password
          </button>
        </div>
        <hr>
        <p>Already have an account? <a [routerLink]="['/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
      </div>
    </mat-card>
  </form>
</div>